.cta-icon-box {
  position: relative;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background: #00ff9f1a;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 1;
}

.cta-icon-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  padding: 1.71px;
  background: linear-gradient(
    160deg,
    #36a179 10.27%,
    rgba(24, 80, 59, 0.05) 50%
  );
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  pointer-events: none;
  z-index: -1;
}

.cta-icon-box svg {
  width: 28px;
  height: 28px;
  object-fit: contain;
}
