.badge {
  position: relative;
  width: fit-content;
  padding: 10px 18px;
  background: #00ff9f1a;
  border-radius: 54.81px;
  height: 53px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 1.2px;
  color: #00ff9f;
  z-index: 1;
}

.badge::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 54.81px;
  padding: 1.71px;

  background: linear-gradient(
    160deg,
    #36a179 10.27%,
    rgba(24, 80, 59, 0.05) 50%
  );
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;

  pointer-events: none; /* Чтобы рамка не мешала кликам */
  z-index: -1; /* Уводим под текст, но над фоном родителя */
}

@media (max-width: 768px) {
  .badge {
    height: 18px;
    padding: 3px 8px;
    border-radius: 8px;
    font-family: "Gilroy", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 0.36px;
    vertical-align: middle;
  }

  .badge::before {
    border-radius: 8px;
    padding: 1px;
  }
}
